.navbar-dark{
  background-color: #082C3F;
}
.sidebar-dark{
  background-color: #082C3F;
}
.img-logo{
  height: 25px !important ;
}
.width-25-percent{
  width: 25%;
}
.width-10-percent{
  width: 10%;
}
.width-100-percent{
  width: 100%;
}
.float-right{
  float:right;
}
.f-s15{
  font-size: 15px;
}
